.form__btn {
    font-weight: 600;
    font-size: 12px;
    padding: 10px 0 11px;
    color: #B4B4B4;
    max-width: 284px;
    min-height: 36px;
    border: none;
    background-color: #EEEEEE;
    border-radius: 10px;
    margin-top: 8px;
}

.form__btn:hover {
    cursor: url(../../../images/cursor.svg) 2 2, pointer;
}