.elements {
    flex-basis: 75%;
    margin-left: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 332px);
    justify-content: center;
    gap: 16px;
}

@media screen and (max-width: 767px) {
    .elements {
        row-gap: 20px;
        margin-top: 36px;
    }
}